<div class="wrapper">
  <div>
    <%= form_for @quiz do |f| %>
    <% @post.videos.each do |video| %>
        <div>
        <%= video.example %>
        <%= f.nested_fields_for :answers do |ff| %>
          <%= ff.hidden_field :question, value: video.id %>
          <%= ff.text_field :answer, class: "form-control", placeholder: "回答:回答者が記入します" %>
        <% end %>
        <hr>
        </div>
      <% end %>
      <br>
      <%= f.submit "採点", class: "btn btn-success center-block" %>
    <% end %>
  </div>
</div>
